<div id="notify">
	<span id="notice">
	</span>	
</div>
<br />
<div>
<% remote_form_for :home, @home, :url => home_index_path(@home) do |f| -%>
	<table>
		<tr>
	  		<td><%= f.label :key, "Key" %></td>
		</tr>
		<tr>
			<td><%= f.text_field :key %></td>
		</tr>
		<tr>
			<td><%= f.label :value, "Value" %></td>
		</tr>
		<tr>
			<td><%= f.text_area :value %></td>
		</tr>
		<tr>
			<td><%= f.submit "Submit" %></td>
		</tr>
	</table>
<% end -%>
</div>