<strong><%= @feature.title %></strong>
<p><i><%= @feature.description %></i></p>
<div id="code"><%= @code %></div>
<% if session[:user] %>
<p><%= link_to 'Edit', edit_entity_feature_path(@feature.entity.id, @feature)%></p>
<% end %>
Back to <%= link_to @entity.title, entity_path(@entity) %>

