<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="google-site-verification" content="38Fxgq3Ca8g73FMRERmIBUvvrB082CCIFKX-oDjWeHs" />
  <title>FunctMetaL: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'threefold' %>
  <%= stylesheet_link_tag 'xml' %>
  <%= javascript_include_tag :all, :cache => false %>
</head>
<body>
<p style="color: green"><%= flash[:notice] %></p>

<div id="container">
<div id="top">
	
<h1>FunctMetaL</h1>
<br />
<br />
</div>
<div id="leftnav">
	<%= link_to 'Home Page', home_index_path %><br />
	<% if ! session[:user].nil? %>
		<p>Welcome <%= session[:useremail] %></p>
		<p><%= link_to "(Logout)", user_path(session[:user]), :method => "delete" %></p>
	<% else %>
		<p><%= link_to "Login", new_user_path %></p>
	<% end %>
	<br />
<script type="text/javascript"><!--
google_ad_client = "pub-2681835653201645";
/* 120x240, created 1/5/10 */
google_ad_slot = "7564611120";
google_ad_width = 120;
google_ad_height = 240;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
<p>
</p>
</div>
<div id="rightnav">
	<br />
	<strong>FunctMetaLRuner</strong><br />
	<a href="http://c2.com/cgi/wiki?TestDrivenDevelopment">Download</a><br />
	<a href="http://c2.com/cgi/wiki?TestDrivenDevelopment">FunctMetaLRunner Tutorial</a><br />
	<br />
	<strong>Test Automation Methodologies</strong><br />
	<a href="http://c2.com/cgi/wiki?TestDrivenDevelopment">TDD</a><br />
	<a href="http://www.extremeprogramming.org/">Extreme Programming</a><br />
	<a href="http://behaviour-driven.org/">BDD</a><br />
<p>
</p>
</div>
<div id="content">
<%= yield %>
</div>
<div id="footer">
</div>
</div>
</body>
</html>
