<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="google-site-verification" content="38Fxgq3Ca8g73FMRERmIBUvvrB082CCIFKX-oDjWeHs" />
		<title>
			FunctMetaL: <%= controller.action_name %>
		</title>
		<%= stylesheet_link_tag '1' %>
		<%= stylesheet_link_tag 'sIFR-print.css' %>
		<%= stylesheet_link_tag 'sIFR-screen.css' %>
		<%= stylesheet_link_tag 'xml' %>
		<%= javascript_include_tag :all, :cache => false %>
	</head>
	<body>
		<div id="header">
			<h1>
				<%= image_tag "gears.jpg"-%>
				<%= link_to 'FunctMetaL', root_path -%>
			</h1>
			<ul id="nav">
				<li>
					<%= link_to 'Documentation', entities_path %>
				</li>
				<li>
					<%= link_to 'FunctMetaLPad', funct_metal_pads_path %>
				</li>
				<li>
					<%= link_to 'Source', sources_path %>
				</li>
				<li>
					<%= link_to 'Contact', contacts_path %>
				</li>
				<li>
					<% if !session[:user].nil? %>
						<%= link_to "Logout", user_path(session[:user]), :method => "delete" -%>
					<% else %>
						<%= link_to "Login", new_user_path -%>
					<% end %>
					</li>
			</ul>
		</div>
		<div id="container">
			<div id="content">
				<p>
					<%= yield %>
				</p>
			</div>
			<div id="sidebar">
				<h3>
					Download
				</h3>
				<p class="about">
					Download <%= link_to "FunctMetaLPad", new_user_path -%> IDE to develop automated tests.
				</p>
			</div>
		</div>
		<div id="footer">
			<p class="validate">
				<a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/">CSS</a><br />
			</p>
			<p>
				 <%=link_to '©Turquoisesoft, Inc.', 'http://www.turquoisesoft.com' %>
			</p>
		</div><script type="text/javascript">
	</body>
</html>
